<html>

    <head>

    </head>

    <body>
        <h1>
            <%=request %>
        </h1>
        <h1>
            <%=email %>
        </h1>
        <form method="post">
            <input type="text" name="email" />
            <button type="submit">
                submit
            </button>
        </form>
    </body>

</html>