<html>

    <head>

    </head>

    <body>
        <form method="post">
            Name: <input type="text" name="name" /> <br><br>
            Age: <input type="number" name="age" /> <br><br>
            <button type="submit">
                submit
            </button>
        </form>
    </body>

</html>