<html>

    <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <img src="/assets/img.png" style="height: 100px; width:200px" />
        <br /><br /><br /><br />
        <div id="myid">

        </div>
    </body>

</html>